<html>

<head>

    <link rel='stylesheet' href='css/test.css'>
</head>
<body>

<h1>{{>header}}</h1>

<img src='images/img.jpg' width='250px' alt='about'></img>
<p>{{title}}</p>
<p>{{author}}</p>

</body>

</html>