
<html>
    <head>



    </head>
    <body>

    
<h1>{{>header}}</h1>



<form>

<input placeholder="location">
<button>search</button>

<p id='msg1'></p>
<p id='msg2'></p>

</form>

<script src="/js/webapp.js"></script>

</body>
</html>